.section-2__section-2-inner {
  width: 1440px;
  height: 284px;
  padding-left: 165px;
  padding-right: 165px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section-2-inner__section-2-inner-content {
  position: relative;
  bottom: 40px;
}
.section-2-inner-content__heading {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}
.section-2-inner-content__text {
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}