.section-3__section-3-inner {
  width: 1440px;
  height: 263px;
  padding-left: 165px;
  padding-right: 165px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section-3-inner__section-3-inner-content {
  width: 445px;
}
.section-3-inner-content__heading {
  margin: 0;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}
.section-3-inner-content__text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}
.section-3-inner__section-3-inner-pic {
  display: flex;
  position: relative;
  background-image: url();
  
}
.section-3-inner__section-3-inner-pic::after {
  content: " ";
  position: absolute;
  width: 780px;
  height: 780px;
  background-color: #36536B;
  border-radius: 100%;
  opacity: 0.2;
  top: -454px;
  left: -223px;
  z-index: 0;
}
.phone-img1 {
  position: absolute;
  bottom: -286px;
  left: -620px;
}
.phone-img2 {
  position: absolute;
  bottom: -286px;
  left: -310px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .section-3__section-3-inner {
    max-width: 768px;
    height: auto;
    padding: 0;
    padding-top: 450px;
    display: flex;
    justify-content: center;
  }
  .section-3-inner__section-3-inner-content {
    text-align: center;
  }
  .section-3-inner__section-3-inner-pic {
    left: 48px;
  }
  .phone-img1 {
    bottom: 115px;
  }
  .phone-img2 {
    bottom: 115px;
  }
  .section-3-inner__section-3-inner-pic::after {
    display: none;
  }
}